@charset "UTF-8";* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

/* 滚动条样式 */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #c0738570;
  border-radius: 5px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


#app {
  /* min-width: 1280px; */
  width: 100vw;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.mycard {
  border: 1px solid rgba(128, 128, 128, 0.15);
  box-shadow: 5px 5px 8px rgba(128, 128, 128, 0.05);
  border-radius: 10px;
}

.tags {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
.tags .tag {
  cursor: pointer;
  margin-left: 5px;
  border: 1px solid;
  padding: 2px 5px;
  font-size: 12px;
  border-radius: 5px;
  background-color: #bc6277;
  color: #fff;
  transition: all .2s;

  
}
.tags .tag:hover,
.tags .tag:active {
    background-color: #bc6277cc;
}


/* 左侧导航栏动画设置 */

.fade_left-enter-active,
.fade_left-leave-active {
  transition: all .5s;
}

.fade_left-enter-from,
.fade_left-leave-to {
  transform: translateX(-100%);
}

.fade_left-enter-to,
.fade_left-leave-from {
  transform: translateX(0);
}
/* 右侧 */
.fade_right-enter-active,
.fade_right-leave-active {
  transition: all .5s;
}

.fade_right-enter-from,
.fade_right-leave-to {
  transform: translateX(100%);
}

.fade_right-enter-to,
.fade_right-leave-from {
  transform: translateX(0);
}header[data-v-c88310e7] {
  z-index: 999;
  position: fixed;
  top: 0;
  margin-bottom: 20px;
  width: 100vw;
  height: 50px;
  padding: 0 20px;
  background-color: rgba(249, 241, 243, 0.6431372549);
  color: rgba(57, 24, 32, 0.768627451);
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
header .title[data-v-c88310e7] {
  cursor: pointer;
  min-width: 100px;
  line-height: 50px;
  font-weight: 600;
  color: #9d4358;
}
header .nav[data-v-c88310e7] {
  line-height: 50px;
  min-width: 500px;
}
header .nav .nav_word[data-v-c88310e7] {
  cursor: pointer;
  margin-right: 30px;
  transition: all 0.3s;
}
header .nav .nav_word[data-v-c88310e7]:hover, header .nav .nav_word[data-v-c88310e7]:active {
  color: #bc6277;
  font-weight: 600;
}
header .nav .active_nav[data-v-c88310e7] {
  color: #bc6277;
  font-weight: 600;
}
.mainPage[data-v-fb52e740] {
  margin: 60px auto;
  padding-top: 5px;
  width: 85vw;
  /* 再设置min-width */
}
.pageChange-enter-active[data-v-fb52e740] {
  animation: pageHide-fb52e740 0.3s ease-out reverse;
}
@keyframes pageHide-fb52e740 {
0% {
    opacity: 1;
}
100% {
    opacity: 0;
}
}
.n-back-top {
&:hover,
  &:active {
    box-shadow: 0 2px 12px 0px #c07385da;
.n-base-icon {
      color: #c07385da;
}
}
}
.loading[data-v-d6118411] {
  z-index: 999;
  position: fixed;
  top: 50px;
  height: calc(100vh - 50px);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #333;
}
.loading[data-v-d6118411]::before {
  display: inline-block;
  height: 35px;
  width: 35px;
  content: "";
  color: #333;
  background: url("/svgs/loading.svg") no-repeat;
  background-size: contain;
  margin-right: 15px;
  animation: rotating-d6118411 3s linear infinite;
}
@keyframes rotating-d6118411 {
0% {
    transform: rotate(0);
}
100% {
    transform: rotate(360deg);
}
}