#showGraph[data-v-f5467f4f] {
  margin-left: 180px;
  min-width: 800px;
  width: calc(100vw - 350px);
  height: calc(100vh - 100px);
  min-height: 700px;
  box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.4);
}