.moreList[data-v-d1ee097d] {
  min-height: calc(100vh - 100px);
  width: 100%;
}
.moreList .titleContainer[data-v-d1ee097d] {
  background-color: rgba(249, 241, 243, 0.6431372549);
  min-width: 800px;
  margin-bottom: 20px;
  padding: 10px 0;
}
.moreList .titleContainer .listTitle[data-v-d1ee097d] {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin-right: 5px;
  font-size: 40px;
  font-weight: 400;
  color: rgba(57, 24, 32, 0.768627451);
}
.moreList .mainContent[data-v-d1ee097d] {
  display: flex;
  width: 100%;
}
.moreList .mainContent .leftList[data-v-d1ee097d] {
  flex: 1;
  width: 65%;
}
.moreList .mainContent .rightNav[data-v-d1ee097d] {
  margin-left: 10px;
  min-width: 250px;
  width: 25%;
}
.moreList .mainContent .rightNav .mycard[data-v-d1ee097d] {
  margin-bottom: 20px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
}
.moreList .mainContent .rightNav .nav[data-v-d1ee097d] {
  cursor: pointer;
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #bd6d80;
  color: #fff;
  font-size: 15px;
  border-radius: 15px;
}
.moreList .mainContent .rightNav .nav[data-v-d1ee097d]:hover, .moreList .mainContent .rightNav .nav[data-v-d1ee097d]:active {
  background-color: #dda8b5;
}
.moreList .mainContent .rightNav .nav .num[data-v-d1ee097d] {
  display: inline-block;
  margin-left: 10px;
  line-height: 20px;
  width: 20px;
  height: 20px;
  font-size: 12px;
  background-color: #fff;
  color: #bd6d80;
  border-radius: 50%;
}
.virtualScroller[data-v-d1ee097d] {
  position: absolute;
  z-index: -1;
}