.mycard[data-v-0d3538eb] {
  cursor: pointer;
  transition: all 0.3s;
}
.mycard[data-v-0d3538eb]:hover, .mycard[data-v-0d3538eb]:active {
  transform: scale(1.02);
  box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.15);
}
.noteCard[data-v-0d3538eb] {
  margin-bottom: 10px;
  text-align: left;
  display: flex;
  width: 60vw;
  min-width: 550px;
  height: 200px;
}
.noteCard .noteImg[data-v-0d3538eb] {
  flex-shrink: 0;
  border-radius: 5px;
  height: 200px;
  width: 300px;
}
.noteCard .noteRight[data-v-0d3538eb] {
  padding: 20px 30px;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
}
.noteCard .noteRight .title[data-v-0d3538eb] {
  font-size: 24px;
  font-weight: 400;
}
.noteCard .noteRight .abstract[data-v-0d3538eb] {
  font-size: 18px;
}
.noteCard .noteRight .bottom[data-v-0d3538eb] {
  display: flex;
  justify-content: space-between;
}
.noteCard .noteRight .bottom .time[data-v-0d3538eb] {
  color: rgba(128, 128, 128, 0.5);
  font-weight: 600;
  width: 100px;
}
.noteCard .noteRight .bottom .time[data-v-0d3538eb]::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 3px;
  background-image: url("/svgs/time.svg");
  background-size: cover;
  background-position: center;
  transform: translateY(1px);
}